*{}

html{}

body{
        background-image: url(./bg/LINE_ALBUM_2023107_231007_2.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position:top;
        background-size: cover;
}

/* header area============================ */
header{
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
    padding-right: 110px;
    min-height: 120px;
    background-color: #cfddf065;  
}

.logo{
    background-color: #ffffffd0;
}

.logoimg{
    margin: 10px 50px;
    padding-top: 5px; 
    padding-bottom: 5px;
    height: 100px;
    
}
/* header area end========================= */
/* main area ============================== */

.liquor-text-block{
    padding: 10px 0;
    box-shadow: 0px 5px #33333317;
}

.liquor-area{
display: flex;
justify-content: center;
padding: 30px;
margin: 50px;
border-radius: 15px;
background: #ffffffcb;
}


.liquor-img-area{
    display: flex;
	align-content:center;
}

.liquor-img{margin: auto 0;}

/* main area end=========================== */
/* footer area============================= */

.footer {
    display: flex;
    justify-content: center;
    width: 100%;
    position: sticky;
    bottom: 45px;
    background-color: rgba(255, 255, 255, 0.192);
}

.footer-banner {
    width: 80%;
    max-height: 70px;
}

.footer-icon-area {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.footer-icon {
    margin: 0.5em 2em;
    padding: 10px;
    height: 3rem;
}

.footer-icon-block {
    margin: 0 10px;
}

.footer-icon-block:hover {
    background-color: rgba(241, 255, 255, 0.055);
    border-radius: 50px;
}

/* footer area end========================= */